{{ if in .Site.Params.mainSections .Type }}
  <div class="post-comments">
      <div class="giscus">
          <p style="text-align:center">
              {{ T "postPage.commentNotLoaded" }}
          </p>
      </div>
      {{ if eq .Site.Language.Lang "zh" }}
      <p style="text-align:center">你也可以加入本站的 <a href="https://t.me/teaparty418" target="_blank">Telegram 群组</a>参与讨论</p>
      {{ end }}
      <script src="https://giscus.app/client.js"
          data-repo="BigCoke233/geek-death-project"
          data-repo-id="R_kgDONPoyVw"
          data-category="General"
          data-category-id="DIC_kwDONPoyV84Clumc"
          data-mapping="title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="{{ T "lang" }}"
          crossorigin="anonymous"
          async>
      </script>
  </div>
{{ end }}
