<div id="global-search">
    {{ partial "components/pagefind" . }}
</div>
<div id="global-search-overlay"></div>

<style>
    #global-search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(250,250,250,0.75);
        @media (prefers-color-scheme: dark) {
            background-color: rgba(30,30,30,0.75);
        }
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        z-index: -10;
        opacity: 0;
        transition-duration: 0.3s;
        transition-property: opacity;
    }
    #global-search-overlay.shown {
        z-index: 10;
        opacity: 1;
    }

    #global-search {
        position: fixed;
        z-index: -10;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }

    #global-search #pagefind {
        max-height: 90vh;
        overflow-y: auto;
        width: 100%;
        margin: 1rem;
    }

    @media screen and (min-width: 768px) {
        #global-search #pagefind {
            width: 600px
        }
    }

    #global-search #pagefind input {
        outline: none
    }

    #global-search.shown {
        z-index: 15;
        display: flex;
        animation: fade-in 0.3s ease-in-out;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<script>
  (() => {
    const search = document.getElementById("global-search");
    const overlay = document.getElementById("global-search-overlay");

    const turnOn = () => {
      search.classList.add("shown");
      overlay.classList.add("shown");
    };
    const turnOff = () => {
      search.classList.remove("shown");
      overlay.classList.remove("shown");
    };

    window.addEventListener("keydown", (event) => {
      if (event.key === 'k' && (event.metaKey || event.ctrlKey)) {
        // Open the popup window
        if (search.classList.contains("shown")) {
          turnOff()
        } else {
          turnOn();
        }
        // Focus on the search input
        const input = search.querySelector("input");
        input.focus();
      }

      if (event.key === 'Escape') {
        turnOff();
      }
    });

    // trigger by clicking instruction text
    // to allow mobile users to search
    const searchInstruction = document.getElementById("search-instruction");
    if (searchInstruction) {
      searchInstruction.addEventListener("click", turnOn);
    }

    // double-click to turn off search
    // in case esc and ctrl/cmd+k cannot be used
    search.addEventListener("dblclick", turnOff);
  })();
</script>
