<div class="floating-like-container" id="like-container-{{ .File.UniqueID | urlize }}">
  <div class="floating-like-button" 
       onclick="sendLike('{{ .File.UniqueID | urlize }}')"
       id="like-btn-{{ .File.UniqueID | urlize }}"
       title="为这篇文章献上心脏"
       data-liked-title="你已经献上心脏了">
    <img id="like-button-icon" src="/img/heart-organ.svg" alt="点赞" />
    <div class="like-count-display" id="like-count-{{ .File.UniqueID | urlize }}">...</div>
  </div>
</div>

<!-- 内嵌CSS样式 -->
{{ with resources.Get "css/like-button.css" | minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}

<!-- 设置页面ID并内嵌JavaScript -->
<script>
  window.likeButtonPageId = "{{ .File.UniqueID | urlize }}";
</script>
{{ with resources.Get "js/like-button.js" | minify }}
<script>{{ .Content | safeJS }}</script>
{{ end }}
