<div id="posts-list-navigation">
    <ul>
        <li class="{{ if eq "/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/">{{ T "postNav.latest" }}</a>
        </li>
        {{ if eq .Site.Language.Lang "zh" }}
        <li class="{{ if eq "/categories/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/categories">{{ T "postNav.categories" }}</a>
        </li>
        {{ end }}
        <li id="search-instruction">
            <span>{{ T "searchInstruction" }}</span>
        </li>
        <li class="list-decoration invert-if-dark">
            <img src="/img/little-skeleton.svg" />
        <li>
    </ul>
</div>
