<div id="posts-list-navigation">
    <ul>
        <li class="{{ if eq "/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/">{{ T "postNav.latest" }}</a>
        </li>
        {{ if eq .Site.Language.Lang "zh" }}
        <li class="{{ if eq "/featured/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/featured">{{ T "postNav.featured" }}</a>
        </li>
        <li class="{{ if eq "/categories/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/categories">{{ T "postNav.categories" }}</a>
        </li>
        <li class="{{ if eq "/tags/" $.Page.RelPermalink }}active{{ end }}">
            <a href="{{ .Site.LanguagePrefix }}/tags">{{ T "postNav.tags" }}</a>
        </li>
        {{ end }}
        <li id="search-instruction">
            <span>{{ T "searchInstruction" }}</span>
        </li>
        <li class="list-decoration invert-if-dark">
            <a href="/graph" class="no-button" target="_blank"><img src="/img/graph.svg" /></a>
        <li>
    </ul>
</div>
