{{ if eq .Site.Language.Lang "zh" }}
<header id="posts-header">
    <div id="post-series">
        <div id="post-series-list">
            {{ range .Site.Params.series }}
              <a class="post-series-item"
                  href="{{ .link }}"
                  title="{{ .description }}"
                  data-umami-event="Click series link from index"
              >
                  <div class="post-series-cover">
                      <img src="{{ .cover }}" />
                  </div>
                  <div class="post-series-text">
                      <h3>{{ .name }}</h3>
                  </div>
              </a>
            {{ end }}
        </div>
    </div>
</header>
{{ end }}
