<div id="home-nav">
    <ul class="relative w-full ps-0 flex list-none gap-1">
        {{ partial "home/home-nav-item" (dict
            "text" (T "postNav.latest")
            "link" ""
            "active" (eq "/" $.Page.RelPermalink)
        ) }}
        {{ if eq .Site.Language.Lang "zh" }}
            {{ partial "home/home-nav-item" (dict
                "text" (T "postNav.featured")
                "link" "featured"
                "active" (eq "/featured" $.Page.RelPermalink)
            ) }}
            {{ partial "home/home-nav-item" (dict
                "text" (T "postNav.categories")
                "link" "categories"
                "active" (or
                    (strings.HasPrefix $.Page.RelPermalink "/categories/")
                    (strings.HasPrefix $.Page.RelPermalink "/tags/"))
            ) }}
        {{ end }}
        <li id="search-instruction" class="text-[0.9rem] font-secondary ml-2">
            <span>{{ T "searchInstruction" }}</span>
        </li>
        <li class="absolute right-0 invert-if-dark">
            <a href="{{ .Site.LanguagePrefix }}/stats"
                class="opacity-50 transition-opacity duration-300 hover:opacity-100
                {{ if eq "/stats/" $.Page.RelPermalink }} opacity-100 font-bolder{{ end }}"
                data-umami-event="📈 Click stats page link">
                    <img src="/img/graph.svg" class="opacity-50 h-8 w-8" />
                </a>
        <li>
    </ul>
</div>
