<div id="home-nav">
    <ul class="relative w-full ps-0 flex list-none gap-1">
        {{ partial "home/home-nav-item" (dict
            "text" (T "postNav.latest")
            "link" ""
            "active" (eq "/" $.Page.RelPermalink)
        ) }}
        {{ if eq .Site.Language.Lang "zh" }}
            {{ partial "home/home-nav-item" (dict
                "text" (T "postNav.featured")
                "link" "featured"
                "active" (eq "/featured" $.Page.RelPermalink)
            ) }}
            {{ partial "home/home-nav-item" (dict
                "text" (T "postNav.categories")
                "link" "categories"
                "active" (or
                    (strings.HasPrefix $.Page.RelPermalink "/categories/")
                    (strings.HasPrefix $.Page.RelPermalink "/tags/"))
            ) }}
        {{ end }}

        <!-- 网站设置按钮 -->
        <li class="absolute invert-if-dark" style="right: 80px;">
            <a href="{{ .Site.LanguagePrefix }}/settings"
                class="nav-icon-btn {{ if eq "/settings/" $.Page.RelPermalink }}active{{ end }}"
                data-tooltip="网站设置">
                <img src="/img/butterfly.svg" class="nav-icon" />
            </a>
        </li>

        <!-- 统计数据按钮 -->
        <li class="absolute right-10 invert-if-dark">
            <a href="{{ .Site.LanguagePrefix }}/stats"
                class="nav-icon-btn {{ if eq "/stats/" $.Page.RelPermalink }}active{{ end }}"
                data-umami-event="📈 Click stats page link"
                data-tooltip="查看博客统计数据">
                <img src="/img/graph.svg" class="nav-icon" />
            </a>
        </li>

        <!-- 项目演示按钮 -->
        <li class="absolute right-0 invert-if-dark">
            <a href="{{ .Site.LanguagePrefix }}/demos"
                class="nav-icon-btn {{ if eq "/demos/" $.Page.RelPermalink }}active{{ end }}"
                data-tooltip="项目演示"
                data-umami-event="🎯 Click demos page link">
                <img src="/img/footprint.svg" class="nav-icon" />
            </a>
        </li>
    </ul>
</div>
