{{ if eq .Site.Language.Lang "zh" }}
<!-- Latest Cards -->
<section class="my-[1rem]">
    <div class="p-[5px] flex w-full overflow-x-auto gap-[1rem] items-stretch">
        {{- $cards := .Site.GetPage "section" "cards" }}  <!-- 获取 "cards" 部分的内容 -->
        {{- $paginator := .Paginate $cards.Pages 4 }}  <!-- 对该部分内容进行分页 -->
        {{- range $paginator.Pages }}
          <div class="flex-shrink-0 w-[50%]">
              {{ partial "items/card" (dict "context" . "summary" true) }}
          </div>
        {{- end }}
    </div>
    <div style="margin: 1rem 0">
        <a href="/cards" class="small-button"
            data-umami-event="➕ Click more cards link">
            {{ T "moreLinks.cards" }} →
        </a>
    </div>
</section>
{{ end }}
