<!-- Latest Posts -->
<section id="latest-posts">
    <div class="flex flex-col my-4">
        {{ $firstPost := true }} <!-- 初始化标记 -->
        {{ range first 8 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
            {{ partial "items/post" (dict
                "ctx" .
                "showSummary" $firstPost
            ) }}
            {{ $firstPost = false }}
        {{ end }}
    </div>
    <a href="/posts" class="small-button"
        data-umami-event="➕ Click more posts link">
        {{ T "moreLinks.posts" }} →
    </a>
</section>
