<div class="post-comments">
    {{ with .Params.comments }}
    <!-- Static Comments -->
    <div class="my-8">
        <p class="font-secondary">{{ T "postPage.staticCommentsSectionHeader" }}</p>
        {{ range . }}
            <div class="text-xl border-b border-solid border-[#ccc] py-4 px-1">
                <div class="mb-4 flex justify-between">
                    <span class="font-bold">{{ .name }}</span>
                    <span class="font-secondary">{{ .date }}</span>
                </div>
                <div>
                    {{ .content | safeHTML }}
                </div>
                <div class="text-[1rem] text-right font-secondary">
                    {{ with .source }}
                    <p class="font-mono">{{ T "postPage.originallyPostedOn" . }}</p>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
    {{ end }}
    <div class="giscus my-4">
        <p style="text-align:center">
            {{ T "postPage.commentNotLoaded" }}
        </p>
    </div>
    <!-- giscus script -->
    <script id="giscus-script"
            src="https://giscus.app/client.js"
            data-repo="{{ .Site.Params.giscus.repo }}"
            data-repo-id="{{ .Site.Params.giscus.repoId }}"
            data-category="{{ .Site.Params.giscus.category }}"
            data-category-id="{{ .Site.Params.giscus.categoryId }}"
            data-mapping="{{ .Site.Params.giscus.mapping }}"
            data-strict="{{ .Site.Params.giscus.strict }}"
            data-reactions-enabled="{{ .Site.Params.giscus.reactionsEnabled }}"
            data-emit-metadata="1"
            data-input-position="{{ .Site.Params.giscus.inputPosition }}"
            data-theme="{{ .Site.Params.giscus.theme }}"
            data-lang="{{ T "lang" }}"
            crossorigin="anonymous">
    </script>
</div>
