<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet"
/>

<!-- Extra -->
{{ range .Site.Params.extraCSSFiles -}}
<link
    rel="stylesheet"
    href="{{ $.Site.Params.staticPrefix }}{{ . | relURL }}"
/>
{{- end }}

<!-- theme css -->
{{ with resources.Get "css/flexbox.css" | minify }}
<style>
    {{ .Content | safeCSS }}
</style>
{{ end }} {{ with resources.Get "css/index.scss" | css.Sass | minify }}
<style>
    {{ .Content | safeCSS }}
</style>
{{ end }}
