{{ define "main" }}
    {{ partial "components/post-page-header.html" . }}
    <article>
      <!-- Post Header -->
      <header
        style="view-transition-name: post-{{ .File.UniqueID }}"
        class="text-center"
      >
        {{ partial "posts/banner" . }}
        <h1 class="xerox text-4xl font-900" data-pagefind-meta="title">{{ .Title }}</h1>
        <div class="font-secondary">{{ partial "components/date" . }}</div>
      </header>

      <!-- Post Content -->
      <div id="post-content" class="post-content markdown-body"
          style="view-transition-name: post-content-{{ .File.UniqueID }}">
        {{ .Content }}
      </div>

      <!-- Comment -->
      {{ partial "posts/comment.html" . }}
    </article>
{{ end }}
