{{ define "main" }}
    <article>
      <!-- Post Header -->
      <header class="text-center">
        {{ partial "components/logo" (dict
            "link" "fictions/"
            "src" "/img/potted-skeleton.svg"
            "imageClass" "block w-[10rem]"
            "class" "flex justify-center"
        ) }}
        <h1
            class="xerox text-4xl font-900"
            data-pagefind-meta="title"
        ><span style="view-transition-name: post-{{ .File.UniqueID }}">{{ .Title }}</span></h1>
        <div class="font-secondary">{{ partial "components/date" . }}</div>
      </header>

      <!-- Post Content -->
      <div id="post-content" class="post-content markdown-body"
          style="view-transition-name: post-content-{{ .File.UniqueID }}">
        {{ .Content }}
      </div>

      <!-- Comment -->
      {{ partial "posts/comment.html" . }}
    </article>
{{ end }}
