{{ define "main" }}
    <article class="fiction-list-page">
        {{ partial "header.html" . }}
        <div id="fiction-section">
            <div class="my-[2rem] markdown-body">
            {{ with .Content }}{{ . }}{{ end }}
            </div>
            <div class="flex flex-wrap justify-around gap-[2rem]">
                {{- $fictions := .Site.GetPage "section" "fictions" }}
                {{- range $fictions.Pages }}

                {{ $rotationDeg := add (math.Floor (mul (math.Rand) 7)) -4 }}  {{/* -4 to +4 */}}
                {{ $opacity := add (div (math.Floor (mul (math.Rand) 5)) 10) 0.6 }}  {{/* 0.6 to 1.0 */}}

                {{ $rotateClass := printf "rotate-[%.1fdeg]" $rotationDeg }}
                {{ $opacityClass := printf "opacity-[%.1f]" $opacity }}

                <div class="xerox text-center text-2xl font-extrabold {{ $rotateClass }} {{ $opacityClass }}"
                    style="view-transition-name: post-{{ .File.UniqueID }}">
                    <a href="{{ .Permalink }}">《{{ .Title }}》</a>
                </div>
                {{- end }}
            </div>
        </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
