{{ define "main" }}
    <article class="fiction-list-page">
        {{ partial "header.html" . }}
        <div id="fiction-section">
            <div class="fiction-welcome markdown-body">
            {{ with .Content }}{{ . }}{{ end }}
            </div>
            <div class="fiction-list">
                {{- $fictions := .Site.GetPage "section" "fictions" }}  <!-- 获取 "cards" 部分的内容 -->
                {{- range $fictions.Pages }}
                <div class="fiction-item" style="view-transition-name: post-{{ .File.UniqueID }}">
                    <a href="{{ .Permalink }}">《{{ .Title }}》</a>
                </div>
                {{- end }}
            </div>
        </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
