<!-- Display Categories -->
<section class="grid grid-cols-2 grid-rows-masonry gap-4">
{{ range sort .Site.Taxonomies.categories ".Count" "desc" }}
    <a href="{{ .Page.RelPermalink }}" class="hover:no-underline"
        style="view-transition-name: category-{{ .Page.Title }};">
        <div class="taxonomy-categories-item">
            <h3 class="category-title my-1">
                {{ with .Page.Params.icon }}
                <span class="inline-block">{{ . }}</span>
                {{ end }}
                <span class="xerox">{{ .Page.LinkTitle }}</span>
            </h3>
            <p class="mt-0">{{ .Page.Params.description | markdownify }}</p>
        </div>
    </a>
{{ end }}
</section>
