<footer class="pagefind-exclude my-[2rem] mx-auto font-mono
    md:w-[var(--page-width)] md:flex md:justify-between">
    <!-- copyright -->
    <section>
        <p class="copyright">&copy; 2022-{{ now | dateFormat "2006" }} <a href="https://www.guhub.cn/" target="_blank">Eltrac</a></p>
        <p class="license">{{ T "footer.licenseStatement" (printf "<a href=\"https://creativecommons.org/licenses/by-sa/4.0/\" target=\"_blank\">CC BY-SA 4.0</a>") | safeHTML }}</p>
    </section>
    <!-- links -->
    <section class="flex flex-col md:items-end">
        <!-- Internal Links -->
        <ul class="list-none flex gap-[0.25rem] ps-0 my-[0.5rem] mx-0 md:justify-end">
            {{ range .Site.Params.footerInternalLinks }}
            <li><a href="{{ .link | relURL }}" title="{{ .name }}">{{ .name }}</a></li>
            <li class="font-secondary last:hidden ml-[0.25rem]">/</li>
            {{ end }}
            <li class="inline-flex items-center">
                <a href="/rss/" title="RSS (中文)">
                    {{ T "RSS" . }}
                </a>
            </li>
        </ul>

        <!-- External Links -->
        <ul class="list-style-none flex gap-[0.5rem] ps-0 my-[0.5rem] mx-0 md:justify-end">
            {{ range .Site.Params.footerExternalLinks }}
            <li class="inline-flex items-center"><a href="{{ .link }}" title="{{ .name }}" target="_blank">
                <img class="h-[1rem] w-auto inline-block rounded-full grayscale dark:invert" src="{{ .icon }}" />
            </a></li>
            {{ end }}
        </ul>
    </section>
</footer>
