<header id="site-header" class="pagefind-exclude">
  <!-- Header Title -->
  <div class="flex flex-col items-center gap-[0.5rem]">
    {{ partial "components/logo" (dict "imageClass" "w-[10rem]") }}
    <a class="text-[2rem] font-900 text-center tracking-[.15rem]
        xerox underline-offset-10 underline-3"
        href="{{ .Site.LanguagePrefix }}/"
      >{{ .Site.Title }}</a
    >
  </div>
  <!-- Navigation -->
  <div class="flex justify-center items-center gap-[0.75rem] pl-[1rem]">
      <nav class="my-[1rem] flex justify-center items-center w-fit rounded-[1rem] overflow-hidden">
        {{ range .Site.Params.nav }}
        <a class="inline-block py-[0.25rem] px-[0.5rem] first:pl-[0.75rem] last:pr-[0.75rem]
            block hover:no-underline
            {{ if strings.Contains $.Page.RelPermalink .link }}
            text-[var(--text-color)] bg-[var(--block-background-color)]
            {{ else }}
            text-[var(--background-color)] bg-[var(--text-color)]
            {{ end }}"
        href="{{ .link | relURL }}" target="{{ .target }}" data-umami-event="💊 Click header navigation">{{ .name }}</a>
        {{ end }}
      </nav>


  </div>
</header>
