<div id="back2top" class="fixed -top-25 left-0 right-0 z-30
    flex justify-center items-center transition-all animate-head-shake
    bg-linear-to-t  bg-gradient-from-transparent bg-gradient-to-zinc">
    <button id="back2top-button"
        class="block bg-transparent mt-5 flex flex-col items-center"
        data-tooltip="点击返回顶部">
        <img src="/img/bat.svg"
            class="block w-8 h-8 dark:invert-100 drop-shadow-xl hover:scale-110 transition-transform"
        />
        <p id="back2top-instruction"
            class="text-xs bg-black/80 text-white px-2 py-1 border rounded">
                返回顶部
        </p>
    </button>
</div>

<script>
// hide back-to-top if set
if (localStorage.getItem('xiaoweigeblog.ui.hideBatrick')) {
    document.getElementById('back2top').classList.add('hidden');
} else {
  const backToTop = document.getElementById("back2top")
  const backToTopButton = document.getElementById("back2top-button")
  const backToTopInstruction = document.getElementById("back2top-instruction")
  const seenAndUsedBat = localStorage.getItem("xiaoweigeblog.ui.seenAndUsedBat")

function hideInstruction() {
  backToTopInstruction.remove()
}
if (seenAndUsedBat) hideInstruction()

// listen to button click and scroll to top
backToTopButton.addEventListener("click", () => {
  window.scrollTo({ top: 0, behavior: "smooth" })
  if (!seenAndUsedBat) {
    localStorage.setItem("xiaoweigeblog.ui.seenAndUsedBat", true);
    hideInstruction();
  }
})

// listen to scroll and toggle button visibility
let lastOffset = window.scrollY

window.addEventListener("scroll", () => {
  const offset = window.scrollY
  const batIsHidden = backToTop.classList.contains("-top-25")
  const enoughHeight = offset >= 2000
  const isScrollingUp = offset < lastOffset
  const isScrollingDown = offset > lastOffset

  function hide() {
    backToTop.classList.remove("top-0")
    backToTop.classList.add("-top-25")
    backToTop.classList.remove("animate-head-shake")
  }

  function show() {
    backToTop.classList.remove("-top-25")
    backToTop.classList.add("top-0")
    backToTop.classList.add("animate-head-shake")
  }

  if (enoughHeight && isScrollingUp && batIsHidden) {
    // show only when scrolling up
    show()
  } else if (isScrollingDown && !batIsHidden) {
    // hide as soon as user scrolls down again
    hide()
  }

  // hide no matter what if too close to top
  if (!enoughHeight) hide()

  lastOffset = offset
})
}
</script>
