<div id="global-search-container">
    <div id="global-search">
        <div id="global-search-close">×</div>
        <!-- Pagefind Search -->
        <div id="pagefind"></div>
        <script>
          window.addEventListener('DOMContentLoaded', () => {
            new PagefindUI({ element: "#pagefind", showSubResults: true });
          });
        </script>
    </div>
    <div id="global-search-overlay"></div>

    <script>
      (() => {
        const search = document.getElementById("global-search");
        const overlay = document.getElementById("global-search-overlay");

        const turnOn = () => {
          search.classList.add("shown");
          overlay.classList.add("shown");

          umami.track('🔍 Open search panel')
        };
        const turnOff = () => {
          search.classList.remove("shown");
          overlay.classList.remove("shown");
        };

        window.addEventListener("keydown", (event) => {
          if (event.key === 'k' && (event.metaKey || event.ctrlKey)) {
            event.preventDefault();
            // Open the popup window
            if (search.classList.contains("shown")) {
              turnOff()
            } else {
              turnOn();
            }
            // Focus on the search input
            const input = search.querySelector("input");
            input.focus();
          }

          if (event.key === 'Escape') {
            turnOff();
          }
        });

        // trigger by clicking instruction text
        // to allow mobile users to search
        const searchInstruction = document.getElementById("search-instruction");
        if (searchInstruction) {
          searchInstruction.addEventListener("click", turnOn);
        }

        // double-click to turn off search
        // in case esc and ctrl/cmd+k cannot be used
        search.addEventListener("dblclick", turnOff);

        const closeButton = document.getElementById("global-search-close");
        closeButton.addEventListener("click", turnOff);
      })();
    </script>
</div>
