{{ define "main" }}
    <article class="index">
      {{ partial "header.html" . }}
      {{ partial "components/postnav.html" . }}

      <div class="markdown-content" style="line-height: 2">
          {{ .Content }}
      </div>

      <!-- Latest Posts -->
      <section id="featured-posts">
          <div class="posts-list">
              {{ range where site.RegularPages "Params.featured" true }}
              <div class="posts-item"
                  style="view-transition-name: post-{{ .File.UniqueID }}">
                  <header>
                      <div class="posts-item-meta">
                          <p>
                              <time>
                                  {{ .Date.Format "Jan 2, 2006" }}
                              </time>
                              <span>·</span>
                              {{ range .Params.tags }}
                              <a class="post-tag" href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/">#{{ . }}</a>
                              {{ end }}
                          </p>
                          <h2 class="posts-item-title">
                              <a
                                  href="{{ .Permalink }}"
                                  data-umami-event="Click post link from featured"
                              >
                                  {{ if eq .Section "library" }}
                                      读《{{ .Title }}》
                                  {{ else }}
                                      {{ .Title }}
                                  {{ end }}
                              </a>
                          </h2>
                      </div>
                  </header>
              </div>
              {{ end }}
          </div>
      </section>
    </article>
{{ partial "footer.html" . }}
{{ end }}
