{{ define "main" }}
    <article class="posts">
      {{ partial "components/breadcrumbs.html" . }}
      <div id="posts-archive" class="posts-list">

        {{ partial "components/heatmap.html" . }}

        <!-- Post Archive List -->
        {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section class="posts-year-archive">
            <h1 class="posts-year-title">
                {{ .Key }}
                <small class="font-mono">{{ T "archivePage.postCountAnnual" (len .Pages) }}</small>
            </h1>

              {{ range .Pages.GroupByDate "January" }}
              <details class="posts-month-archive">
                  <summary>
                      <h2 class="posts-month-title">
                          {{ .Key }}
                          <small class="font-mono">{{ T "archivePage.postCountMonthly" (len .Pages) }}</small>
                      </h2>
                  </summary>
                  <ul>
                    {{ range .Pages }}
                      <li>
                        <div class="row posts-line">
                          <div class="posts-date col-xs-3 col-sm-2">
                            <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" }}</time>
                          </div>
                          <div class="posts-title col-xs-9 col-sm-10">
                            <div class="row">
                              <div class="col-xs-11 col-sm-10">
                                <a
                                    class="posts-title-link"
                                    href="{{ .RelPermalink }}"
                                    data-umami-event="Click Post Link from Index"
                                >{{ .Title }}</a>
                              </div>
                              <div class="col-xs-1 col-sm-2 posts-categories">
                                {{ with .Params.categories }}
                                <div class="posts-category">
                                  <a href="/categories/{{ . }}/"><strong>{{ . }}</strong></a>
                                </div>
                                {{ end }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    {{ end }}
                  </ul>
              </details>
              {{ end }}

          </section>
        {{ end }}
      </div>
    </article>
{{ end }}
