{{ partial "snippets/document-start.html" . }}
    <article class="post {{ .Site.Language.LanguageName }}" id="article">

      <!-- Site Header -->
      <div class="site-header">
        {{ partial "header.html" . }}
      </div>
      <!-- Post Header -->
      <header class="post-header">
        {{ if in .Site.Params.mainSections .Type }}
        <!-- Title and Subtitle -->
        <h1 class="post-title">
          {{ .Title }}
          {{ with .Params.subtitle }}
            <small class="post-subtitle">{{ . }}</small>
          {{ end }}
        </h1>
        <!-- Post Meta -->
        <div class="row post-desc">
          <div class="col-xs-6">
            {{ if .Date }}
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
              {{ .Date.Format "02 Jan 2006" }}
            </time>
            {{ end }}
            <span> / </span>
            <span><span class="waline-pageview-count">…</span> Views</span>
          </div>
        </div>
        {{ end }}
      </header>

      <!-- Post Content -->
      <div id="post-content" class="post-content markdown-body">
        {{ if .Params.toc }}
        <div id="toc-container"><div id="toc"></div></div>
        {{ end }}
        {{ .Site.Params.postHeaderContent | safeHTML }}
        {{ .Content }}
      </div>

      <!-- Post Tags -->
      <div class="post-tags">
        {{ range .Params.tags }}
        <a href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/">#{{ . }}</a>
        {{ end }}
      </div>

      <!-- Post Comments -->
      {{ if in .Site.Params.mainSections .Type }}
        <!-- waline -->
        <div style="height: 50px;"></div>
        <div class="post-comments">
          <div id="waline"></div>
        </div>
      {{ end }}

    </article>
{{ partial "snippets/document-end.html" . }}
