{{ define "main" }}
<article class="taxonomy">
  {{ partial "header.html" . }}

  {{ partial "components/pagefind.html" . }}


  <!-- Display Tags -->
  <section class="taxonomy taxonomy-tags">
      {{ range sort .Site.Taxonomies.tags "Count" "desc" }}
      <a href="{{ .Page.RelPermalink }}" class="taxonomy-tags-item">
          <span class="tag-name">#{{ .Page.LinkTitle }}</span>
          <span class="tag-count">{{ .Count }}</span>
      </a>
      {{ end }}
  </section>

    <hr />
    {{ partial "components/welcome" . }}
    <hr />

  <!-- Display Categories -->
  <section class="taxonomy taxonomy-categories row">
    {{ range .Site.Taxonomies.categories.Alphabetical }}
        <div class="taxonomy-categories-item col-xs-12 col-sm-6">
            <h3><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></h3>
            <ul class="category-articles">
            {{ range first 3 .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
            <a href="{{ .Page.RelPermalink }}">阅读所有 {{ .Count }} 篇文章</a>
        </div>
    {{ end }}
  </section>
</article>
{{ end }}
