{{ define "main" }}
<article class="taxonomy">
  {{ partial "header.html" . }}
  {{ partial "components/postnav.html" . }}

  <!-- Display Tags -->
  {{ if eq .Type "tags" }}
  <section class="taxonomy taxonomy-tags">
    {{ range sort .Site.Taxonomies.tags "Count" "desc" }}
    <a href="{{ .Page.RelPermalink }}" class="taxonomy-tags-item">
        <span class="tag-name">#{{ .Page.LinkTitle }}</span>
        <span class="tag-count">{{ .Count }}</span>
    </a>
    {{ end }}
  </section>
  {{ end }}

  <!-- Display Categories -->
  {{ if eq .Type "categories" }}
  {{ partial "components/welcome.html" . }}
  <section class="taxonomy taxonomy-categories row">
    {{ range .Site.Taxonomies.categories.Alphabetical }}
        <div class="taxonomy-categories-item col-xs-12 col-sm-6">
            <h3>
                <a href="{{ .Page.RelPermalink }}">
                    {{ with .Page.Params.icon }}<span>{{ . }}</span>{{ end }} {{ .Page.LinkTitle }}
                </a>
            </h3>
            <ul class="category-articles">
            {{ range first 3 .Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
            {{ if gt .Count 3 }}
            <a href="{{ .Page.RelPermalink }}">阅读所有 {{ .Count }} 篇文章</a>
            {{ end }}
        </div>
    {{ end }}
  </section>
  {{ end }}

</article>
{{ partial "footer.html" . }}
{{ end }}
