{{ partial "snippets/document-start.html" . }}
    <article class="posts termlist-page">
      {{ partial "components/breadcrumbs.html" . }}

      <div id="term-list" class="posts-list">
          <ul>
          {{ range .Pages }}
            <li>
                <div class="row posts-line">
                    <div class="posts-date col-xs-2">
                    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "06/01/02"}}</time>
                    </div>
                    <div class="posts-title col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                        <a href="{{ .RelPermalink }}" data-umami-event="Click Post Link from Category Page">
                            {{ .Title }}{{ with .Params.subtitle }}：<span class="posts-subtitle">{{. }}</span>
                            {{ end }}
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
          {{ end }}
          </ul>
      </div>

      <p class="termlist-subscribe">
          <a href="https://rss.beauty/rss?url=https%3A%2F%2Fwww.geedea.pro%2Fcategories%2F{{.Data.Term | urlize}}%2Findex.xml" target="_blank" title="RSS">
              <span style="display:inline-block;transform:scale(0.75)">{{ partial "snippets/rss-icon" . }}</span>
              单独订阅这个系列
          </a>
      </p>
    </article>
{{ partial "snippets/document-end.html" . }}
