/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: default */
.pointer-events-none{pointer-events:none;}
.group:hover .group-hover\:visible{visibility:visible;}
.invisible{visibility:hidden;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.static{position:static;}
.bottom-0{bottom:0;}
.bottom-full{bottom:100%;}
.left-\[25\%\]{left:25%;}
.left-0{left:0;}
.left-1\/2{left:50%;}
.right-\[-1rem\]{right:-1rem;}
.right-\[-2rem\]{right:-2rem;}
.right-\[-3rem\]{right:-3rem;}
.right-0{right:0;}
.top-\[-1rem\]{top:-1rem;}
.top-\[1rem\]{top:1rem;}
.top-\[25\%\]{top:25%;}
.top-\[2rem\]{top:2rem;}
.top-0{top:0;}
.-z-1{z-index:-1;}
.-z-10{z-index:-10;}
.z-0{z-index:0;}
.z-1{z-index:1;}
.z-1000{z-index:1000;}
.grid{display:grid;}
.grid\!{display:grid !important;}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.m-0{margin:0;}
.m-0\!{margin:0 !important;}
.m-4{margin:1rem;}
.mx-\[1rem\]{margin-left:1rem;margin-right:1rem;}
.mx-0{margin-left:0;margin-right:0;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my,
.my-\[1rem\],
.my-4{margin-top:1rem;margin-bottom:1rem;}
.my-\[0\.5rem\],
.my-2{margin-top:0.5rem;margin-bottom:0.5rem;}
.my-\[2rem\],
.my-8{margin-top:2rem;margin-bottom:2rem;}
.my-\[3rem\]{margin-top:3rem;margin-bottom:3rem;}
.my-\[var\(--page-margin-y\)\]{margin-top:var(--page-margin-y);margin-bottom:var(--page-margin-y);}
.my-1{margin-top:0.25rem;margin-bottom:0.25rem;}
.my-5{margin-top:1.25rem;margin-bottom:1.25rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-4{margin-bottom:1rem;}
.mb-6{margin-bottom:1.5rem;}
.mb-8{margin-bottom:2rem;}
.me{margin-inline-end:1rem;}
.ml-\[0\.25rem\]{margin-left:0.25rem;}
.ml-2{margin-left:0.5rem;}
.mt-0{margin-top:0;}
.mt-2{margin-top:0.5rem;}
.mt-4{margin-top:1rem;}
.mt-8{margin-top:2rem;}
.box-border{box-sizing:border-box;}
.block{display:block;}
.inline-block{display:inline-block;}
.hidden{display:none;}
.last\:hidden:last-child{display:none;}
.h-\[1\.2em\]{height:1.2em;}
.h-\[1rem\]{height:1rem;}
.h-\[2rem\],
.h-8{height:2rem;}
.h-\[4rem\]{height:4rem;}
.h-\[50\%\]{height:50%;}
.h-\[5rem\]{height:5rem;}
.h-12{height:3rem;}
.h-auto{height:auto;}
.h-full{height:100%;}
.h3{height:0.75rem;}
.max-h-\[90vh\]{max-height:90vh;}
.max-w-\[50\%\]{max-width:50%;}
.min-h-\[60\%\]{min-height:60%;}
.min-w-12{min-width:3rem;}
.min-w-4{min-width:1rem;}
.min-w-8{min-width:2rem;}
.w-\[1\.2em\]{width:1.2em;}
.w-\[10rem\]{width:10rem;}
.w-\[2rem\],
.w-8{width:2rem;}
.w-\[4rem\]{width:4rem;}
.w-\[50\%\]{width:50%;}
.w-\[5rem\]{width:5rem;}
.w-\[calc\(25\%_-_1rem\)\]{width:calc(25% - 1rem);}
.w-\[calc\(50\%_-_1rem\)\]{width:calc(50% - 1rem);}
.w-\[calc\(50\%_-_2rem\)\]{width:calc(50% - 2rem);}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.w-full{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0;}
.flex-grow-0{flex-grow:0;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.border-collapse{border-collapse:collapse;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-y-1{--un-translate-y:0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.group:hover .group-hover\:translate-y-0{--un-translate-y:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:-translate-y-2:hover{--un-translate-y:-0.5rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[-1\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-1.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[-2\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-2.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[-3\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-3.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[-5deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-5deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[\%\.1fdeg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:%.1fdeg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[0\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:0.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[1\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:1.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[2\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:2.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[3\.0deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:3.0deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.rotate-\[3deg\]{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:3deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:rotate-0:hover{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[scale~="\31 "]{--un-scale-x:0.01;--un-scale-y:0.01;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
[scale~="\34 "]{--un-scale-x:0.04;--un-scale-y:0.04;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:scale-110:hover{--un-scale-x:1.1;--un-scale-y:1.1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.cursor-pointer{cursor:pointer;}
.list-none{list-style-type:none;}
.items-center{align-items:center;}
.items-stretch{align-items:stretch;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.gap-\[0\.25rem\],
.gap-1{gap:0.25rem;}
.gap-\[0\.5rem\],
.gap-2{gap:0.5rem;}
.gap-\[0\.75rem\]{gap:0.75rem;}
.gap-\[1rem\],
.gap-4{gap:1rem;}
.gap-\[2rem\]{gap:2rem;}
.gap-1\.5{gap:0.375rem;}
.overflow-hidden{overflow:hidden;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.whitespace-nowrap{white-space:nowrap;}
.border{border-width:1px;}
.border-\[0\.2rem\]{border-width:0.2rem;}
.border-b{border-bottom-width:1px;}
.border-b-2{border-bottom-width:2px;}
.border-\[\#ccc\]{--un-border-opacity:1;border-color:rgb(204 204 204 / var(--un-border-opacity));}
.border-\[var\(--border-color\)\]{border-color:var(--border-color);}
.border-amber-200{--un-border-opacity:1;border-color:rgb(253 230 138 / var(--un-border-opacity));}
.border-gray-200{--un-border-opacity:1;border-color:rgb(229 231 235 / var(--un-border-opacity));}
.border-gray-300{--un-border-opacity:1;border-color:rgb(209 213 219 / var(--un-border-opacity));}
.border-white{--un-border-opacity:1;border-color:rgb(255 255 255 / var(--un-border-opacity));}
.rounded,
.rounded-\[0\.25rem\]{border-radius:0.25rem;}
.rounded-\[1rem\]{border-radius:1rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-md{border-radius:0.375rem;}
.rounded-xl{border-radius:0.75rem;}
.hover\:rounded-lg:hover{border-radius:0.5rem;}
.border-dashed{border-style:dashed;}
.border-none{border-style:none;}
.border-solid{border-style:solid;}
.hover\:border-solid:hover{border-style:solid;}
.border-b-dashed{border-bottom-style:dashed;}
.border-b-solid{border-bottom-style:solid;}
.bg-\[rgba\(250\,250\,250\,0\.75\)\]{--un-bg-opacity:0.75;background-color:rgba(250, 250, 250, var(--un-bg-opacity)) /* rgba(250,250,250,0.75) */;}
.bg-\[rgba\(255\,255\,255\,0\.35\)\]{--un-bg-opacity:0.35;background-color:rgba(255, 255, 255, var(--un-bg-opacity)) /* rgba(255,255,255,0.35) */;}
.bg-\[var\(--background-color\)\]{background-color:var(--background-color) /* var(--background-color) */;}
.bg-\[var\(--block-background-color\)\]{background-color:var(--block-background-color) /* var(--block-background-color) */;}
.bg-\[var\(--text-color\)\]{background-color:var(--text-color) /* var(--text-color) */;}
.bg-black\/80{background-color:rgb(0 0 0 / 0.8) /* #000 */;}
.bg-transparent{background-color:transparent /* transparent */;}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;}
.bg-white\/90{background-color:rgb(255 255 255 / 0.9) /* #fff */;}
.hover\:bg-\[var\(--text-color\)\]:hover{background-color:var(--text-color) /* var(--text-color) */;}
.hover\:bg-black\/5:hover{background-color:rgb(0 0 0 / 0.05) /* #000 */;}
.bg-none{background-image:none;}
.p-\[1\.5rem\]{padding:1.5rem;}
.p-\[1rem\]{padding:1rem;}
.p-\[5px\]{padding:5px;}
.p-0{padding:0;}
.px-\[0\.5rem\],
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-\[1\.25rem\]{padding-left:1.25rem;padding-right:1.25rem;}
.px-\[1\.5rem\]{padding-left:1.5rem;padding-right:1.5rem;}
.px-1{padding-left:0.25rem;padding-right:0.25rem;}
.px-1\.5{padding-left:0.375rem;padding-right:0.375rem;}
.px-2\.5{padding-left:0.625rem;padding-right:0.625rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.py-\[0\.25rem\],
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-\[1rem\],
.py-4{padding-top:1rem;padding-bottom:1rem;}
.py-0\.5{padding-top:0.125rem;padding-bottom:0.125rem;}
.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.pb-8{padding-bottom:2rem;}
.pl-\[1rem\],
.pl-4{padding-left:1rem;}
.ps-0{padding-inline-start:0;}
.first\:pl-\[0\.75rem\]:first-child{padding-left:0.75rem;}
.last\:pr-\[0\.75rem\]:last-child{padding-right:0.75rem;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-\[0\.8rem\]{font-size:0.8rem;}
.text-\[0\.9rem\]{font-size:0.9rem;}
.text-\[1\.1rem\]{font-size:1.1rem;}
.text-\[1\.2rem\]{font-size:1.2rem;}
.text-\[1\.5rem\]{font-size:1.5rem;}
.text-\[1rem\]{font-size:1rem;}
.text-\[2rem\]{font-size:2rem;}
.text-\[3rem\]{font-size:3rem;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-4xl{font-size:2.25rem;line-height:2.5rem;}
.text-5xl{font-size:3rem;line-height:1;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\[var\(--background-color\)\]{color:var(--background-color) /* var(--background-color) */;}
.text-\[var\(--secondary-text-color\)\]{color:var(--secondary-text-color) /* var(--secondary-text-color) */;}
.text-\[var\(--text-color\)\]{color:var(--text-color) /* var(--text-color) */;}
.text-\[var\(--text-color\)\]\!{color:var(--text-color) /* var(--text-color) */ !important;}
.text-gray-600{--un-text-opacity:1;color:rgb(75 85 99 / var(--un-text-opacity)) /* #4b5563 */;}
.text-gray-900{--un-text-opacity:1;color:rgb(17 24 39 / var(--un-text-opacity)) /* #111827 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.hover\:text-\[var\(--block-background-color\)\]:hover{color:var(--block-background-color) /* var(--block-background-color) */;}
.hover\:text-inherit:hover{color:inherit;}
.font-800,
.font-extrabold{font-weight:800;}
.font-900{font-weight:900;}
.font-bold{font-weight:700;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.leading-\[1\.75\]{line-height:1.75;}
.leading-\[2\]{line-height:2;}
.leading-relaxed{line-height:1.625;}
.tracking-\[\.15rem\]{letter-spacing:.15rem;}
.font-mono{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
.font-italic,
.italic{font-style:italic;}
.underline{text-decoration-line:underline;}
.underline-3{text-decoration-thickness:3px;}
.underline-offset-10{text-underline-offset:10px;}
.no-underline\!{text-decoration:none !important;}
.hover\:no-underline:hover{text-decoration:none;}
.opacity-\[\%\.1f\]{opacity:%.1f;}
.opacity-\[0\.6\]{opacity:0.6;}
.opacity-\[0\.7\]{opacity:0.7;}
.opacity-\[0\.8\]{opacity:0.8;}
.opacity-\[0\.9\]{opacity:0.9;}
.opacity-\[1\.0\]{opacity:1.0;}
.opacity-0{opacity:0;}
.opacity-100,
[opacity-100=""],
.group:hover .group-hover\:opacity-100{opacity:1;}
.opacity-25{opacity:0.25;}
.opacity-50{opacity:0.5;}
.hover\:opacity-100:hover{opacity:1;}
.hover\:opacity-70:hover{opacity:0.7;}
.shadow-amber-100{--un-shadow-opacity:1;--un-shadow-color:rgb(254 243 199 / var(--un-shadow-opacity)) /* #fef3c7 */;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-md{--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline{outline-style:solid;}
.backdrop-blur-md{--un-backdrop-blur:blur(12px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.brightness-40{--un-brightness:brightness(0.4);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.grayscale{--un-grayscale:grayscale(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.filter{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-200{transition-duration:200ms;}
.duration-300{transition-duration:300ms;}
.ease-in-out{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
[content~="\$description"]{content:var(--description);}
[content~="\$image"]{content:var(--image);}
[content~="\$ogType"]{content:var(--ogType);}
[content~="\$title"]{content:var(--title);}
.view-transition-name{view-transition-name:name;}
@media (prefers-color-scheme: dark){
.dark\:border-gray-700{--un-border-opacity:1;border-color:rgb(55 65 81 / var(--un-border-opacity));}
.dark\:bg-\[rgba\(30\,30\,30\,0\.75\)\]{--un-bg-opacity:0.75;background-color:rgba(30, 30, 30, var(--un-bg-opacity)) /* rgba(30,30,30,0.75) */;}
.dark\:bg-black\/70{background-color:rgb(0 0 0 / 0.7) /* #000 */;}
.dark\:bg-neutral-800{--un-bg-opacity:1;background-color:rgb(38 38 38 / var(--un-bg-opacity)) /* #262626 */;}
.dark\:bg-white\/90{background-color:rgb(255 255 255 / 0.9) /* #fff */;}
.dark\:text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity)) /* #000 */;}
.dark\:text-gray-100{--un-text-opacity:1;color:rgb(243 244 246 / var(--un-text-opacity)) /* #f3f4f6 */;}
.dark\:text-gray-400{--un-text-opacity:1;color:rgb(156 163 175 / var(--un-text-opacity)) /* #9ca3af */;}
.dark\:brightness-70{--un-brightness:brightness(0.7);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.dark\:contrast-120{--un-contrast:contrast(1.2);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.dark\:invert{--un-invert:invert(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
}
@media (min-width: 640px){
.sm\:w-full{width:100%;}
}
@media (min-width: 768px){
.md\:right-\[-3rem\]{right:-3rem;}
.md\:right-\[-5rem\]{right:-5rem;}
.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.md\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.md\:grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr));}
.md\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr));}
.md\:mx-\[3rem\]{margin-left:3rem;margin-right:3rem;}
.md\:my-\[5rem\]{margin-top:5rem;margin-bottom:5rem;}
.md\:h-\[5rem\]{height:5rem;}
.md\:h-\[7rem\]{height:7rem;}
.md\:w-\[15rem\]{width:15rem;}
.md\:w-\[5rem\]{width:5rem;}
.md\:w-\[600px\]{width:600px;}
.md\:w-\[7rem\]{width:7rem;}
.md\:w-\[var\(--page-width\)\]{width:var(--page-width);}
.md\:flex{display:flex;}
.md\:items-end{align-items:flex-end;}
.md\:justify-end{justify-content:flex-end;}
.md\:justify-between{justify-content:space-between;}
.md\:text-\[1\.5rem\]{font-size:1.5rem;}
}