.post-comments {
    .static-comments {
        margin: 2rem 0;
        .static-comments-heading {
            color: var(--secondary-text-color)
        }
        .static-comments-item {
            font-size: 1.2rem;
            border-bottom: 1px solid #ccc;
            padding: 1rem 0.25rem;
            .static-comments-item-header {
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                .comment-author {
                    font-weight: bold;
                }
                .comment-date {
                    color: var(--secondary-text-color);
                }
            }
            .static-comments-item-footer {
                font-size: 1rem;
                text-align: right
            }
        }
    }
}
