#fiction-section {
    .fiction-welcome {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        @media screen and (max-width: 768px) {
            gap: 1rem;
        }

        .fiction-welcome-image img {
            width: 10rem;
            @media screen and (max-width: 768px) {
                width: 7rem;
            }
            opacity: 0.8;
        }
    }

    .fiction-list {
        margin: 4rem 0;
        .fiction-item {
            text-align: center;
            margin: 2rem 0;

            .fiction-item-title {
                margin: 0;
            }
            .fiction-item-meta {
                color: var(--secondary-text-color);
            }
        }
    }
}

.fiction-page {
    .fiction-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.fiction-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
