#footer {
    width: var(--page-width);
    margin: 2rem auto;
    font-family: var(--mono-font-family);

    #footer-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul.footer-navigation {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            justify-content: flex-end;
            padding-inline-start: 0;
            margin: .5rem 0;
            li {
                display: inline-flex;
                align-items: center;
                img {
                    height: 1rem;
                    width: auto;
                    display: inline-block;
                    border-radius: 100%
                }
            }
        }
    }

    #footer-copyright {
        .word-count {
            font-family: var(--serif-font-family);
            font-size: .9rem;
            color: var(--secondary-text-color)
        }
    }
}

@media screen and (min-width: 768px) {
    #footer {
        display: flex;
        justify-content: space-between;
    }
}
