#site-header {
    /* header */

    .header-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .title-image {
            width: 10rem
        }

        .title-link {
            font-size: 2rem;
            font-weight: 900;
            text-align: center;
            letter-spacing: .15rem;
            filter: url(#x);
        }
    }

    .header-title a {
      text-decoration: none;
    }

    .header-subtitle {
      color: var(--secondary-text-color);
    }

    .header-line {
      width: 100%;
      border-width: 1px;
      border-color: var(--border-color);
      border-style: solid none none none;
    }

    /* navigation */

    #navigation-bar {
        --gap: .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);
        padding-left: calc(1rem + var(--gap))
    }

    .navigation {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      border-radius: 1rem;
      overflow: hidden;
    }

    .navigation-item a {
      display: inline-block;
      color: var(--background-color);
      padding: 0.25rem 0.5rem;
      background-color: var(--text-color);
    }

    .navigation-item:first-child a {
      padding-left: 0.75rem
    }

    .navigation-item:last-child a {
      padding-right: 0.75rem
    }

    .navigation-item.active a {
      color: var(--text-color);
      background-color: var(--block-background-color);
    }

    .navigation-item a:hover {
      text-decoration: none;
    }
}

/* skull logo */

#post-page-header {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: var(--page-width);

    .title-image {
        width: 10rem;
    }
}

#post-page-header.with-banner {
    .title-image-container {
        @include roundSticker;
        transform: rotate(7deg);

        position: absolute;
        z-index: 5;
        right: 0.25rem;
        top: 0.25rem;
        width: 3rem;
        padding: 0.5rem;

        @media screen and (min-width: 640px) {
            right: 0.5rem;
            top: 0.5rem;
            width: 4rem;
            padding: 1rem;
        }

        @media screen and (min-width: 768px) {
            width: 6rem;
            left: calc(50vw + var(--page-width) / 2 - 7rem);
            top: calc(var(--page-margin-y) - 2rem);
        }

        @media screen and (min-width: 768px) {
            width: 6rem;
            left: calc(50vw + var(--page-width) / 2 - 7rem);
            top: calc(var(--page-margin-y) - 2rem);
        }

        @media screen and (min-width: 1200px) {
            width: 8rem;
            left: calc(50vw + var(--page-width) / 2 - 5rem);
        }

        .title-image {
            width: 100%;
        }
    }
}
