
/* post */

.post-header {
  margin-bottom: 2rem;

  .post-title {
    font-size: 2rem;
    font-weight: 900;
    filter: url(#x);
  }

  .post-subtitle {
    display: block;
    color: var(--secondary-text-color);
    font-style: italic;
    font-size: 1.2rem;
  }
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    .post-date, .post-tag {
      color: var(--secondary-text-color)
    }

    .post-category {
        @include postCategoryPill;
    }
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
  line-height: 2
}

#post-page-header {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: var(--page-width);

    .title-image {
        width: 10rem;
    }
}

#post-page-header.with-banner {
    .title-image-container {
        @include roundSticker;
        transform: rotate(7deg);

        position: absolute;
        z-index: 5;
        right: 0.25rem;
        top: 0.25rem;
        width: 3rem;
        padding: 0.5rem;

        @media screen and (min-width: 640px) {
            right: 0.5rem;
            top: 0.5rem;
            width: 4rem;
            padding: 1rem;
        }

        @media screen and (min-width: 768px) {
            width: 6rem;
            left: calc(50vw + var(--page-width) / 2 - 7rem);
            top: calc(var(--page-margin-y) - 2rem);
        }

        @media screen and (min-width: 768px) {
            width: 6rem;
            left: calc(50vw + var(--page-width) / 2 - 7rem);
            top: calc(var(--page-margin-y) - 2rem);
        }

        @media screen and (min-width: 1200px) {
            width: 8rem;
            left: calc(50vw + var(--page-width) / 2 - 5rem);
        }

        .title-image {
            width: 100%;
        }
    }
}

/* related posts */

.nrt {
    margin-top: 5rem;
    padding-bottom: 2rem; /* in case nrt-title overlaps */
    position: relative;
    .nrt-title {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        margin: 0;
        opacity: .25;
        font-style: italic;
    }
    .nrt-header {
        display: flex;
        justify-content: space-between;
        .nrt-link {
            font-weight: 800;
        }
        .nrt-reading-time {
            color: var(--secondary-text-color)
        }
    }
}

/* endnotes */

#post-endnotes {
    color: var(--secondary-text-color);
    font-size: 1rem;
    h3 {
        font-size: 1rem;
        width: fit-content;
        margin: 0;
    }
    ul {
        li {
            list-style-type: '→';
            padding-left: 1rem;
            &::marker {
                color: var(--secondary-text-color);
            }
        }
    }
}
