.taxonomy {
    margin: 2rem auto;
    .taxonomy-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: masonry;
        gap: 1rem;
        .taxonomy-categories-item {
            ul.category-articles {
                padding-inline-start: 1.5rem;
                list-style-type: square;
            }
            a.category-link {
                @include small-button;
                font-size: 0.9rem
            }
            h3.category-title {
               a:hover {
                   text-decoration: none;
               }
               span {
                   display: inline-block;
               }
               &:hover span {
                   animation: bounce 0.5s ease-in-out;
               }
               @keyframes bounce {
                   0%, 20%, 50%, 80%, 100% {
                       transform: translateY(0);
                   }
                   40% {
                       transform: translateY(-7px)
                        rotate(5deg)
                        scale(1.1);
                   }
                   60% {
                       transform: translateY(-5px) rotate(-3deg);
                   }
               }
            }
        }
    }

    .taxonomy-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .taxonomy-tags-item {
            display: inline-flex;
            align-items: center;
            gap: 0.3rem;

            padding: 0.25rem 0.75rem;
            background-color: var(--block-background-color);
            transition:
                color,
                background 0.3s;
            border-radius: 0.3rem;

            &:hover {
                text-decoration: none;
                background-color: var(--text-color);
                color: var(--block-background-color);
            }

            .tag-count {
                font-size: 0.8rem;
                color: var(--secondary-text-color);
            }
        }
    }

    .taxonomy-description hr {
        margin: 0.5rem 0;
    }
}
