.dark {
    .invert-if-dark {
        filter: invert(1)
    }
}

@media (prefers-color-scheme: dark) {
    .invert-if-dark {
        filter: invert(1)
    }
}

figure {
    &.small {
        width: 300px;
    }
    &.card {
        width: fit-content;
        img {
            height: 18rem;
        }
    }
    &.center {
        margin: 0 auto;
        figcaption {
            text-align: center
        }
    }
}
