{{ define "main" }}
    {{ partial "components/post-page-header.html" . }}
    <article class="post" id="article">
      <!-- Post Header -->
      <header
        style="view-transition-name: post-{{ .File.UniqueID }}"
        class="post-header"
      >
        {{ partial "components/banner.html" . }}
        <!-- Title and Subtitle -->
        <h1 class="post-title">
          <span data-pagefind-meta="title">{{ .Title }}</span>
          {{ with .Params.subtitle }}
            <small class="post-subtitle">{{ . }}</small>
          {{ end }}
        </h1>
        <!-- Post Meta -->
        <div class="post-meta">
            {{ partial "components/date" . }}
            {{ if or .Params.categories .Params.tags }}<span>·</span>{{ end }}
            {{ partial "components/category-pill" . }}
            {{ partial "components/tags" . }}
        </div>
      </header>

      <!-- Post Content -->
      <div class="post-content markdown-body"
          style="view-transition-name: post-content-{{ .File.UniqueID }}">
        <!-- TOC -->
        {{ partial "components/toc" . }}
        <!-- Content -->
        <div id="post-content">
            {{ .Content }}
        </div>
        <!-- Endnotes -->
        {{ partial "components/endnotes" . }}
      </div>

      <!-- Comment -->
      {{ partial "components/comment.html" . }}
      <!-- Now Read This -->
      {{ partial "components/now-read-this.html" . }}
    </article>
{{ end }}
