{{ define "main" }}
    {{ partial "components/post-page-header.html" . }}
    <article class="post" id="article">
      <!-- Post Header -->
      <header
        style="view-transition-name: post-{{ .File.UniqueID }}"
        class="post-header"
      >
        {{ partial "components/banner.html" . }}
        <!-- Title and Subtitle -->
        <h1 class="post-title">
          <span data-pagefind-meta="title">{{ .Title }}</span>
          {{ with .Params.subtitle }}
            <small class="post-subtitle">{{ . }}</small>
          {{ end }}
        </h1>
        <!-- Post Meta -->
        <div class="post-meta">
            {{ if .Date }}
            {{ $hour := .Date.Hour }}
            {{ $fuzzyTimes := slice
              (dict "limit" 5  "label" "凌晨")
              (dict "limit" 7  "label" "清晨")
              (dict "limit" 11 "label" "早上")
              (dict "limit" 13 "label" "中午")
              (dict "limit" 17 "label" "下午")
              (dict "limit" 19 "label" "傍晚")
              (dict "limit" 22 "label" "晚上")
            }}
            {{ $fuzzyTime := "深夜" }} {{/* default */}}
            {{ range $fuzzyTimes }}
              {{ if lt $hour .limit }}
                {{ $fuzzyTime = .label }}
                {{ break }}
              {{ end }}
            {{ end }}

              <time class="post-date"
                    datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}"
                    data-pagefind-sort="date[datetime], weight[data-weight]"
                    data-weight="{{ if .Params.featured }}30{{ else }}20{{ end }}">
                {{ .Date.Format "2006年1月2日" }} {{ $fuzzyTime }}
              </time>
            {{ end }}
            {{ if or .Params.categories .Params.tags }}
            <span>·</span>
            {{ end }}
            {{ if .Params.categories }}
            <a class="post-category" href="/categories/{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>
            {{ end }}
            {{ range .Params.tags }}
            <a class="post-tag" href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/">#{{ . }}</a>
            {{ end }}
        </div>
      </header>

      <!-- Post Content -->
      <div class="post-content markdown-body"
          style="view-transition-name: post-content-{{ .File.UniqueID }}">
        <!-- TOC -->
        {{ if .Params.toc }}
        {{ partial "components/toc" . }}
        {{ end }}
        <!-- Content -->
        <div id="post-content">{{ .Content }}</div>
        <!-- Endnotes -->
        {{ if .Params.endnotes }}
        <hr>
        <div id="post-endnotes">
            <ul>
              {{ range .Params.endnotes }}
              <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
        </div>
        {{ end }}
      </div>

      <!-- Comment -->
      {{ partial "components/comment.html" . }}

      <!-- Now Read This -->
      {{ with site.RegularPages.Related . | first 1 }}
      <div class="nrt post-content">
        <h4 class="nrt-title">{{ T "nowReadThis" }}</h4>
        {{ range . }}
        <div class="nrt-header">
            <a class="nrt-link" href="{{ .RelPermalink }}" data-umami-event="🤔 Click Related Post">
                {{ .LinkTitle }}
                {{ with .Params.subtitle }}
                    <span class="nrt-subtitle">：{{ . }}</span>
                {{ end }}
            </a>
            <span class="nrt-reading-time">⏱️ {{ .ReadingTime }}min </span>
        </div>
        <div class="nrt-summary">
            <p>{{ .Summary | plainify }}</p>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </article>
{{ end }}
