<div class="text-[1.2rem] md:text-[1.5rem] text-italic text-center
    my-[3rem] md:my-[5rem] mx-[1rem] md:mx-[3rem] p-[1rem]
    border border-solid border-gray-300 rounded-[1rem] shadow-lg
    rotate-[3deg] bg-[rgba(255,255,255,0.35)] backdrop-blur-md"
    style="background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),
      repeating-radial-gradient(rgba(255,255,255,0.25) 0 0.0001%, rgba(255,255,255,0.04) 0 0.0002%) 50% 0 / 2500px 2500px,
      repeating-conic-gradient(rgba(255,255,255,0.25) 0 0.0001%, rgba(255,255,255,0.04) 0 0.0002%) 60% 60% / 2500px 2500px;
    background-blend-mode: normal, difference;"
    {{ with .Get "rotate" }}style="transform: rotate({{. }}deg)"{{ end }}>
    {{ .Inner | markdownify }}
</div>
