<footer id="footer">
    <section id="footer-copyright">
        <p class="copyright">&copy; 2022-{{ now | dateFormat "2006" }} <a href="https://www.guhub.cn/" target="_blank">Eltrac</a></p>
        <p class="license">Licensed by <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
    </section>
    <section id="footer-links">
        <ul class="footer-navigation">
            {{ range .Site.Params.footerLinks }}
            <li><a href="{{ .link }}" title="{{ .name }}" target="_blank">
                <img src="{{ .icon }}" />
            </a></li>
            {{ end }}
            <li>
                {{ if eq .Site.Language.Lang "en" }}
                <a href="/en/posts/index.xml" title="RSS (English)" target="_blank">
                {{ else if eq .Site.Language.Lang "zh" }}
                <a href="/posts/index.xml" title="RSS (中文)" target="_blank">
                {{ end }}
                    {{ partial "snippets/rss-icon" . }}
                </a>
            </li>
        </ul>
        {{$scratch := newScratch}}
        {{ range (where .Site.Pages "Kind" "page" )}}
            {{$scratch.Add "total" .WordCount}}
        {{ end }}
        <p class="word-count">🪦 {{$scratch.Get "total" }} words in total</p>
    </section>
</footer>
