<!-- third-party libraries -->
{{ range .Site.Params.externalJSFiles -}}
<script src="{{ $.Site.Params.staticPrefix }}{{ . | relURL }}"></script>
{{- end }}
<script type="module">
/* === lazyload === */
var lazyLoadInstance = new LazyLoad();
lazyLoadInstance.update();

/* === Fancybox === */
Fancybox.bind("[data-fancybox]");

/* === tocbot === */
function loadToc() {
  tocbot.init({
    tocSelector: '#toc',
    contentSelector: '#post-content',
    headingSelector: 'h2, h3:not(blockquote > h3)',
    hasInnerContainers: true,
    scrollSmoothOffset: -30
  });
}
loadToc();

/* === littlefoot === */
littlefoot.littlefoot(littlefootOptions)
</script>
