<!-- third-party libraries -->
{{ range .Site.Params.externalJSFiles -}}
<script src="{{ $.Site.Params.staticPrefix }}{{ . | relURL }}"></script>
{{- end }}
<script type="module">
/* === lazyload === */
var lazyLoadInstance = new LazyLoad();
lazyLoadInstance.update();

/* === Fancybox === */
Fancybox.bind("[data-fancybox]");

/* === tocbot === */
function loadToc() {
  tocbot.init({
    tocSelector: '#toc',
    contentSelector: '#post-content',
    headingSelector: 'h2, h3:not(blockquote > h3)',
    hasInnerContainers: true,
    scrollSmoothOffset: -30
  });
}
loadToc();

/* === littlefoot === */
littlefoot.littlefoot(littlefootOptions)

/* === giscus === */
function loadGiscus() {
  const giscusContainer = document.querySelector('.giscus'); // Make sure this matches your Giscus container class
  if (giscusContainer) {
      const script = document.createElement('script');
      script.src = 'https://giscus.app/client.js';
      script.setAttribute('data-repo', '{{ .Site.Params.giscus.repo }}');
      script.setAttribute('data-repo-id', '{{ .Site.Params.giscus.repoId }}');
      script.setAttribute('data-category', '{{ .Site.Params.giscus.category }}');
      script.setAttribute('data-category-id', '{{ .Site.Params.giscus.categoryId }}');
      script.setAttribute('data-mapping', '{{ .Site.Params.giscus.mapping }}');
      script.setAttribute('data-strict', '{{ .Site.Params.giscus.strict }}');
      script.setAttribute('data-reactions-enabled', '{{ .Site.Params.giscus.reactionsEnabled }}');
      script.setAttribute('data-emit-metadata', '{{ .Site.Params.giscus.emitMetadata }}');
      script.setAttribute('data-input-position', '{{ .Site.Params.giscus.inputPosition }}');
      script.setAttribute('data-theme', '{{ .Site.Params.giscus.theme }}');
      script.setAttribute('data-lang', '{{ T "lang" }}');
      script.crossOrigin = 'anonymous';
      script.async = true;

      giscusContainer.appendChild(script);
  }
}

/* === swup === */
const swup = new Swup({
  linkSelector: 'a[href]:not(.no-swup)'
});
swup.hooks.on('page:view', () => {
  lazyLoadInstance.update();
  Fancybox.bind("[data-fancybox]");
  loadToc();
  littlefoot.littlefoot(littlefootOptions);
  initCalHeatmap();
  initPagefind();
  loadGiscus();
});
</script>
