{{ define "main" }}
    <article class="index">
      {{ partial "header" . }}
      {{ partial "home/home-nav" . }}

      <div class="markdown-content" style="line-height: 2">
          {{ .Content }}
      </div>

      <section id="featured-posts">
          <div class="posts-list">
            {{ range where site.RegularPages "Params.featured" true }}
            {{ partial "items/post" (dict "ctx" . ) }}
            {{ end }}
          </div>
      </section>
    </article>
{{ partial "footer.html" . }}
{{ end }}
