{{ partial "snippets/document-start.html" . }}
    <article class="posts">
      {{ partial "header.html" . }}


      <header id="posts-header">
          <div id="post-series">
              <h1>专栏</h1>
              <div id="post-series-list">
                  {{ range .Site.Params.series }}
                    <a class="post-series-item"
                        href="{{ .link }}"
                        title="{{ .description }}"
                        data-umami-event="Click series link from index"
                    >
                        <div class="post-series-cover">
                            <img src="{{ .cover }}" />
                        </div>
                        <div class="post-series-text">
                            <h3>{{ .name }}</h3>
                        </div>
                    </a>
                  {{ end }}
              </div>
          </div>
          <div id="posts-recommendation">
              <h1>欢迎</h1>
              <script>
                const posts = [
                  {{ range site.RegularPages }}
                  "{{ .RelPermalink }}",
                  {{ end }}
                ];

                function getRandomPost() {
                  const randomPostLink = document.getElementById("random-post-link")
                  const randomIndex = Math.floor(Math.random() * posts.length);
                  randomPostLink.href = posts[randomIndex];
                }
                getRandomPost()
              </script>
              <div id="posts-recommendation-links">
                  <a class="button" id="random-post-link"
                      href=""
                      onclick="getRandomPost()"
                  >🎲 随机文章</a>
                  <a class="button" href="https://www.travellings.cn/go.html"
                      target="_blank">🚇 开往</a>
                  <a class="button" href="https://www.guhub.cn/"
                      target="_blank">🏠 我的主页</a>
              </div>
          </div>
      </header>

      <div id="posts-list">
        {{ $currentYear := now.Format "2006" }}  <!-- 获取当前年份 -->

        {{ $isFirstPost := true }} <!-- 用于标记首页的第一篇文章 -->

        {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section class="posts-year-section">
            <h1 class="posts-year-title">{{ .Key }}</h1>

              {{ range .Pages.GroupByDate "01" }}
                <h2>{{ .Key }} 月</h2>
                <ul>
                  {{ range .Pages }}
                    <li class="{{ if $isFirstPost }}first-post{{ end }}">
                      <!-- 首页第一篇文章特殊展示 -->
                      <div class="row posts-line {{ if $isFirstPost }}featured-post{{ end }}">
                        <div class="posts-date col-xs-3 col-sm-2">
                          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" }}</time>
                        </div>
                        <div class="posts-title col-xs-9 col-sm-10">
                          <div class="row">
                            <div class="col-xs-11 col-sm-10">
                              <a
                                  class="posts-title-link"
                                  href="{{ .RelPermalink }}"
                                  data-umami-event="Click Post Link from Index"
                              >{{ .Title }}</a>
                              <div class="posts-excerpt markdown-body">
                                {{ if $isFirstPost }}
                                  {{ if .Params.description }}
                                    <p>{{.Params.description }}</p>
                                  {{ else }}
                                    <p>{{ .Summary }}</p>
                                  {{ end }}
                                  {{ $isFirstPost = false }}
                                {{ end }}
                              </div>
                            </div>
                            <div class="col-xs-1 col-sm-2 posts-categories">
                              {{ with .Params.categories }}
                              <div class="posts-category">
                                <a href="/categories/{{ . }}/"><strong>{{ . }}</strong></a>
                              </div>
                              {{ end }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}

          </section>
          <hr>
        {{ end }}
      </div>
    </article>
{{ partial "snippets/document-end.html" . }}
