{{ define "main" }}
    <article class="posts termlist-page">
        {{ partial "header.html" . }}
        {{ partial "components/postnav.html" . }}
        <div class="term-header">
            <h1 class="term-title"
                style="view-transition-name: category-{{ .Title }}">
                {{ with .Params.icon }}
                <span class="category-icon">{{ . }}</span>
                {{ end }}
                {{ if and (eq .Data.Singular "tag") (not .Params.icon) }}#{{ end }}{{ .Title }}
            </h1>
            {{ with .Params.description | markdownify }}
                <p class="term-description">{{ . }}</p>
            {{ end }}
        </div>
        <div class="term-list">
            <!-- Posts under this Term -->
            <ul class="term-list-posts">
                {{ range where .Pages "Section" "not in" (slice "cards" "library") }}
                <li>
                    <a href="{{ .RelPermalink }}" data-umami-event="🗃️ Click Post Link from Category Page">
                        {{ .Title }}{{ with .Params.subtitle }}：<span class="posts-subtitle">{{. }}</span>
                        {{ end }}
                    </a>
                    <time>
                        {{ .Date.Format "2006-1-2" }}
                    </time>
                </li>
                {{ end }}
            </ul>

            <!-- Cards under this Term -->
            {{ $cards := where .Pages "Section" "eq" "cards" }}
            {{ if gt (len $cards) 0 }}
            <h2>{{ T "termPage.cards" }}</h2>
            <div class="grid grid-cols-2 gap-x-[1rem]">
                {{ range $cards }}
                {{ partial "items/card" (dict "context" . "summary" true) }}
                {{ end }}
            </div>
            {{ end }}

            <!-- Books under this Term -->
            {{ $books := where .Pages "Section" "eq" "library" }}
            {{ if gt (len $books) 0 }}
            <h2>{{ T "termPage.books" }}</h2>
            <div class="grid grid-cols-4 md:grid-cols-6 items-center gap-[1rem] my-[1rem]">
                {{ range $books }}
                {{ partial "items/book" . }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
