{{ define "main" }}
    <article class="posts termlist-page">
        {{ partial "header" . }}
        {{ partial "home/home-nav" . }}
        <h1 class="term-title">{{ .Title }}</h1>
        <div class="post-content markdown-body">
            <p>{{ .Content }}</p>
        </div>
        <!-- Uncategorized -->
        {{ $uncategorized := where (where .Site.RegularPages "Section" "posts") "Params.categories" "==" nil }}
        {{ if $uncategorized }}
        <ol class="ps-0 flex flex-col gap-2 leading-relaxed">
            {{ range $uncategorized }}
            {{ partial "items/post-small" . }}
            {{ end }}
        </ol>
        {{ end }}
    </article>
{{ partial "footer.html" . }}
{{ end }}
