<div{{ if eq .Params.rating 1 }} class="opacity-50 z-0"{{ end }}
  style="view-transition-name: book-{{ .File.UniqueID }}">
  <a href="{{ .Permalink }}" style="view-transition-name: book-{{ .Title }}"
      class="border-[0.2rem] border-solid rotate-[3deg] shadow-md block
      hover:rotate-0 hover:-translate-y-2 hover:scale-110 transition

      {{ if eq .Params.rating 1 }} relative
      {{ else if eq .Params.rating 5 }} border-amber-200 shadow-amber-100
      {{ else }} border-white{{ end }}">
    <img class="lazy w-full block" src="{{ .Params.cover }}!small" />
    {{ if eq .Params.rating 1 }}
    <div class="absolute z-1 top-[25%] left-[25%] h-[50%] w-[50%]"
        style="background-image: url('https://image.guhub.cn/uPic/2025/05/thumbs-down.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;"></div>
    {{ end }}
  </a>
</div>
