{{ with resources.Get "css/aplayer.css" }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}
<div id="aplayer{{ with .Get "id" }}-{{ . }}{{ end }}" style="margin: 1rem 0;"></div>
<script src="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    audio: [{
        name: '{{ .Get "name" }}',
        artist: '{{ .Get "artist" }}',
        url: '{{ .Get "url" }}',
        cover: '{{ .Get "cover" }}'
    }]
});

ap.on('play', function () {
  umami.track('🎵 Play music with aPlayer')
});
ap.on('ended', function () {
  umami.track('🎵 Played entiresong with aPlayer')
});
</script>
