{{ define "main" }}
<article>
    {{ partial "header.html" . }}

    {{- $cards := .Site.GetPage "section" "cards" }}
    {{- $pages := $cards.Pages }}
    {{- $featured := first 6 $pages }}
    {{- $rest := after 6 $pages }}
    <div class="grid! md:grid-cols-2 gap-[1rem] outbox small">
        {{- range $featured }}
            {{ partial "items/card" (dict "context" . "summary" true) }}
        {{- end }}
    </div>

    <ul class="flex gap-[1rem] flex-wrap justify-around list-none text-[1.2rem]">
        {{- range $rest }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{- end }}
    </ul>

    {{ partial "footer.html" . }}
</article>
{{ end }}
