{{ define "main" }}
  {{ partial "header.html" . }}
  <article id="cards">
    <div id="cards-content">
        <!-- 一些瞬间 -->
        <h2>一些瞬间</h2>
        {{- $cards := .Site.GetPage "section" "cards" }}
        {{- $allCards := $cards.Pages }}
        {{- $featuredCards := first 8 $allCards }}
        {{- $restCards := after 8 $allCards }}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-[1rem] my-[1rem]">
          {{ range $featuredCards }}
            {{ partial "items/card-small" (dict "context" . "summary" true) }}
          {{ end }}
        </div>

        {{ if gt (len $restCards) 0 }}
        <div class="markdown-body">
            <p>更多内容：
              <a href="/cards/moments/">查看所有瞬间</a>
            </p>
        </div>
        {{ end }}
    </div>
  </article>
  {{ partial "footer.html" . }}
{{ end }}
