.dark {
    .invert-if-dark {
        filter: invert(1)
    }
}

@media (prefers-color-scheme: dark) {
    .invert-if-dark {
        filter: invert(1)
    }
}

figure {
    &.small {
        width: 300px;
    }
    &.card {
        width: fit-content;
        img {
            height: 18rem;
        }
    }
    &.center {
        margin: 0 auto;
        figcaption {
            text-align: center
        }
    }
}

.outbox {
    display: flex;
    justify-content: center;

    // Default width
    width: 100%;

    // Properly interpolate calc() in media queries
    @media screen and (min-width: 768px) {
        width: calc(var(--page-width) + 5rem * 2);
        margin: 0 -5rem;
    }

    @media screen and (min-width: 1200px) {
        width: calc(var(--page-width) + 10rem * 2);
        margin: 0 -10rem;
    }
}

.font-mono {
    font-family: var(--mono-font-family);
}
