:root {
    /* colors */
    --background-color: #f5f5f7;
    --block-background-color: rgb(var(--block-background-color-rgb));
    --block-background-color-rgb: 233, 232, 237;
    --border-color: #d0d7de;
    --text-color: #1d1d1f;
    --secondary-text-color: #6e6e73;
    --link-color: #313135;
    --bright-background-color: #fafafa;

    /* fonts */
    --serif-font-family: "Noto Serif", "Noto Serif SC", serif;
    --content-font-size: 16px;
    @media screen and (min-width: 768px) {
        --content-font-size: 20px;
    }

    --page-width: 650px;
    --page-margin-y: 5rem;

    /* pagefind custom css */
    --pagefind-ui-primary: var(--text-color);
    --pagefind-ui-text: var(--text-color);
    --pagefind-ui-background: var(--background-color);
    --pagefind-ui-border: var(--border-color);
    --pagefind-ui-tag: var(--border-color);
}

html[lang="en-US"] {
    --serif-font-family: "Playfair Display", serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

@view-transition {
    navigation: auto;
}

body {
    font-family: var(--serif-font-family);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    position: relative;

    /* background */
    background-color: var(--background-color);
    background-image: url("/images/head_face_scattered.svg");
    background-size: 30rem;
    background-repeat: repeat;
    background-attachment: fixed;
}



article {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    text-underline-offset: 0.25rem;
    &:hover {
        text-decoration: underline;
    }
}

button {
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--serif-font-family);
    cursor: pointer
}

hr {
    margin: 2.5rem auto;
    border: 0.05rem solid var(--border-color);
}

@mixin variablesInDarkMode {
    --background-color: #1d2021;
    --block-background-color: rgb(var(--block-background-color-rgb));
    --block-background-color-rgb: 24, 26, 27;
    --border-color: rgba(255, 255, 255, 0.2);
    --text-color: #d2cec9;
    --secondary-text-color: #a1998d;
    --link-color: #e3dfda;
    --bright-background-color: #666;
}

.dark {
    @include variablesInDarkMode;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include variablesInDarkMode;
    }
}
